[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pynyc = {file = ".", editable = true}
build = "*"
coverage = "*"
pytest-cov = "*"
twine = "*"
pytest = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3"
